@section topCSS{
    <link href="~/css/Exhibiton/Exhibition.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
}

<div class="col-sm-6">
    <h1 class="m-0">展覽管理</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
        <li class="breadcrumb-item active">展覽管理</li>
    </ol>
</div>

<div id="exhibitonApp" class="col-11">
    <b-container fluid>
        <!-- User Interface controls -->
        <b-row>
            <b-col lg="12" class="my-1">
                <b-form-group label="搜尋"
                              label-for="filter-input"
                              label-cols-sm="8"
                              label-align-sm="right"
                              label-size="sm"
                              class="mb-0">
                    <b-input-group size="sm">
                        <b-form-input id="filter-input"
                                      v-model="filter"
                                      type="search"></b-form-input>

                        <b-input-group-append>
                            <b-button :disabled="!filter" v-on:click="filter = ''">清除</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>
        </b-row>

        <!-- Main table element -->
        <b-table @*:busy="isBusy"*@
                 :items="items"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :filter="filter"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 stacked="md"
                 show-empty
                 small
                 v-on:filtered="onFiltered">

            @*<template #table-busy>
                    <div v-show="isBusy && !isError" class="text-center text-danger my-2">
                        <b-spinner class="align-middle"></b-spinner>
                        <strong>Loading...</strong>
                    </div>
                    <div class="my-5 align-middle text-center text-danger" v-show="isError">發生不明錯誤</div>
                </template>*@

            <template #cell(exhibitionIntro)="row">
                <b-button size="sm" v-on:click="row.toggleDetails">
                    {{ row.detailsShowing ? '關閉' : '開啟' }}
                </b-button>
            </template>


            <template #cell(email)="data">
                <b-button size="sm" v-on:click="email(data.item, data.index, $event.target)" class="mr-1">
                    前往
                </b-button>
            </template>

            @*<template #cell(delete)="delete">
                <b-button size="sm" v-on:click="info(delete.item, delete.index, $event.target)" class="mr-1">
                    刪除
                </b-button>
            </template>*@

            <template #row-details="row">
                <b-card>
                    <h5>圖片:</h5>
                    <div> <img v-bind:src="row.item.exPhoto" /> </div>
                    <h5>簡介:</h5>
                    <p>{{row.item.exhibitionIntro}}</p>
                </b-card>
            </template>
        </b-table>


        <!-- Info modal -->
        @*<b-modal :id="infomodal.id" :title="infomodal.title" ok-only ok-title="關閉" v-on:hide="resetinfomodal" size="xl">
            <p>請確認是否刪除?</p>
        </b-modal>*@

        <b-col sm="7" md="12" class="my-1 page">
            <b-pagination v-model="currentPage"
                          :total-rows="totalRows"
                          :per-page="perPage"
                          @*align="fill"*@
                          size="sm"
                          class="my-0"></b-pagination>
        </b-col>

    </b-container>
</div>

@section endJS{

    <script src="~/js/Exhibition/Exhibiton.js"></script>
}