@section topCSS{

}




<div class="col-sm-6">
    <h1 class="m-0">訂單列表</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
        <li class="breadcrumb-item active">訂單列表</li>
    </ol>
</div>

<div class="col-12">

    <div id="Order-Index">

        <!-- User Interface controls -->
        <b-row>
            <b-col lg="6" class="my-1">
                <b-form-group label="排序方式"
                              label-for="sort-by-select"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              class="mb-0"
                              v-slot="{ ariaDescribedby }">
                    <b-input-group size="sm">
                        <b-form-select id="sort-by-select"
                                       v-model="sortBy"
                                       :options="sortOptions"
                                       :aria-describedby="ariaDescribedby"
                                       class="w-75">
                            <template #first>
                                <option value="">-- 無 --</option>
                            </template>
                        </b-form-select>

                        <b-form-select v-model="sortDesc"
                                       :disabled="!sortBy"
                                       :aria-describedby="ariaDescribedby"
                                       size="sm"
                                       class="w-25">
                            <option :value="false">遞增</option>
                            <option :value="true">遞減</option>
                        </b-form-select>
                    </b-input-group>
                </b-form-group>
            </b-col>

            @*<b-col lg="6" class="my-1">
                    <b-form-group label="Initial sort"
                                  label-for="initial-sort-select"
                                  label-cols-sm="3"
                                  label-align-sm="right"
                                  label-size="sm"
                                  class="mb-0">
                        <b-form-select id="initial-sort-select"
                                       v-model="sortDirection"
                                       :options="['asc', 'desc', 'last']"
                                       size="sm"></b-form-select>
                    </b-form-group>
                </b-col>*@

            <b-col lg="6" class="my-1">
                <b-form-group label="搜尋條件"
                              label-for="filter-input"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              class="mb-0">
                    <b-input-group size="sm">
                        <b-form-input id="filter-input"
                                      v-model="filter"
                                      type="search"
                                      placeholder="Type to Search"></b-form-input>

                        <b-input-group-append>
                            <b-button :disabled="!filter" @@click="filter = ''">清空搜尋條件</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>

            <b-col lg="6" class="my-1">
                <b-form-group v-model="sortDirection"
                              label="搜尋欄位"
                              description="Leave all unchecked to filter on all data"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              class="mb-0"
                              v-slot="{ ariaDescribedby }">
                    <b-form-checkbox-group v-model="filterOn"
                                           :aria-describedby="ariaDescribedby"
                                           class="mt-1">
                        <b-form-checkbox value="orderId">訂單編號</b-form-checkbox>
                        <b-form-checkbox value="orderDateDisplay">訂單時間</b-form-checkbox>
                        <b-form-checkbox value="shipName">收件人姓名</b-form-checkbox>
                        <b-form-checkbox value="paymentTypeDisplay">付款方式</b-form-checkbox>
                        <b-form-checkbox value="paymentState">付款狀態</b-form-checkbox>
                    </b-form-checkbox-group>
                </b-form-group>
            </b-col>

            <b-col sm="5" md="6" class="my-1">
                <b-form-group label="每頁顯示筆數"
                              label-for="per-page-select"
                              label-cols-sm="6"
                              label-cols-md="4"
                              label-cols-lg="3"
                              label-align-sm="right"
                              label-size="sm"
                              class="mb-0">
                    <b-form-select id="per-page-select"
                                   v-model="perPage"
                                   :options="pageOptions"
                                   size="sm"></b-form-select>
                </b-form-group>
            </b-col>

            <b-col sm="7" md="6" class="my-1">
                <b-pagination v-model="currentPage"
                              :total-rows="totalRows"
                              :per-page="perPage"
                              align="fill"
                              size="sm"
                              class="my-0"></b-pagination>
            </b-col>
        </b-row>

        <!-- Main table element -->
        <b-table :busy="isBusy"
                 :items="items"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :filter="filter"
                 :filter-included-fields="filterOn"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 :sort-direction="sortDirection"
                 stacked="md"
                 show-empty
                 small
                 v-on:filtered="onFiltered">
            @*<template #cell(name)="row">
                    {{ row.value.first }} {{ row.value.last }}
                </template>*@

            <template #table-busy>
                <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                </div>
            </template>

            <template #cell(actions)="row">
                <b-button size="sm" v-on:click="info(row.item, row.index, $event.target)" class="mr-1">
                    編輯
                </b-button>
                @*<b-button size="sm" v-on:click="row.toggleDetails">
                        {{ row.detailsShowing ? '收起' : '展開' }} 明細
                    </b-button>*@
            </template>

            <template #row-details="row">
                <b-card>
                    <ul>
                        <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
                    </ul>
                </b-card>
            </template>
        </b-table>
        <div v-show="isError">發生不明錯誤</div>

        <!-- Info modal -->
        <b-modal :id="infoModal.id" :title="infoModal.title" @@ok="()=>{submitEdit()}" v-on:hide="resetInfoModal">
            <form>
                <label>訂單編號：</label>
                <input v-model="infoModal.orderId" disabled="disabled" />
                <br />

                <label>訂單日期：</label>
                <input type="date" v-model="infoModal.orderDateDisplay" disabled="disabled" />
                <br />

                <label>會員姓名：</label>
                <input v-model="infoModal.memberUserName" disabled="disabled" />
                <br />

                <label>收件人姓名：</label>
                <input v-model="infoModal.shipName" />
                <br />

                <label>收件人縣市：</label>
                <input v-model="infoModal.shipCity" />
                <br />

                <label>收件人轄區：</label>
                <input v-model="infoModal.shipRegion" />
                <br />

                <label>收件人地址：</label>
                <input v-model="infoModal.shipAddress" />
                <br />

                <label>郵遞區號：</label>
                <input v-model="infoModal.shipPostalCode" />
                <br />

                <label>發票類型：</label>
                <input v-model="infoModal.invoiceTypeDisplay" />
                <br />

                <label>付款方式：</label>
                <input v-model="infoModal.paymentTypeDisplay" />
                <br />

                <label>付款狀態：</label>
                <input v-model="infoModal.paymentState" />
                <br />

                <label>上次更新時間：</label>
                <input type="datetime-local" v-model="infoModal.updateTime" disabled="disabled" />
                <br />

                <label>訂單金額：</label>
                <input v-model="infoModalOrderPrice" disabled="disabled" />
                <br />

                <label>訂單細項：</label> <br />
                <details v-for="(orderDetail, index) in infoModal.orderDetailList">
                    <summary>{{orderDetail.productName}} 數量：{{orderDetail.quantity}} </summary>
                    <label>商品名稱：</label> <span>{{orderDetail.productName}}</span> <br />
                    <label>商品數量：</label> <input v-model="orderDetail.quantity" :key="orderDetail.quantity"> <br />
                    <label>商品單價：</label> <input v-model="orderDetail.unitPrice" :key="orderDetail.unitPrice" disabled="disabled" /> <br />
                    <label>商品特價：</label> <input v-model="orderDetail.specialPrice" :key="orderDetail.specialPrice" /> <br />
                    <label>商品總和：</label> <span>{{UpdateDetailPrice(orderDetail.quantity, orderDetail.unitPrice, orderDetail.specialPrice)}}</span>
                </details>
            </form>
        </b-modal>
    </div>
</div>
<!-- /.col -->








@section endJS{
    <script>
        var OrderApp = new Vue({
            el: "#Order-Index",
            data: {
                isError: false,
                isBusy: true,
                items: [],
                fields: [
                    { key: 'orderId', label: '訂單編號', sortable: true },
                    { key: 'orderDateDisplay', label: '訂單時間', sortable: true },
                    { key: 'memberUserName', label: '會員姓名', sortable: true },
                    { key: 'paymentTypeDisplay', label: '付款方式', sortable: true },
                    { key: 'paymentState', label: '付款狀態', sortable: true },
                    { key: 'orderPrice', label: '訂單金額', sortable: true },
                    //{
                    //    key: 'isActive',
                    //    label: 'Is Active',
                    //    formatter: (value, key, item) => {
                    //        return value ? 'Yes' : 'No'
                    //    },
                    //    sortable: true,
                    //    sortByFormatted: true,
                    //    filterByFormatted: true
                    //},
                    { key: 'actions', label: '功能' }
                ],
                totalRows: 1,
                currentPage: 1,
                perPage: 20,
                pageOptions: [5, 10, 20, { value: 100, text: "Show a lot" }],
                sortBy: '',
                sortDesc: false,
                sortDirection: 'asc',
                filter: null,
                filterOn: [],
                infoModal: {
                    id: 'info-modal',
                    title: '',
                    orderId: 0,
                    orderDateDisplay: "0001-01-01",
                    memberUserName: "會員姓名",
                    shipName: "收件人姓名",
                    shipCity: "收件人縣市",
                    shipRegion: "收件人轄區",
                    shipAddress: "收件人地址",
                    shipPostalCode: 000,
                    invoiceTypeDisplay: "發票開立方式",
                    updateTime: "0001-01-01",
                    paymentTypeDisplay: "貨到付款",
                    paymentState: "未付款",
                    orderDetailList: [
                        {
                            quantity: 0,
                            productName: "商品名稱",
                            pnitPrice: 0,
                            detailPrice: 0,
                        },
                        {
                            quantity: 0,
                            productName: "商品名稱",
                            pnitPrice: 0,
                            detailPrice: 0,
                        },
                        {
                            quantity: 0,
                            productName: "商品名稱",
                            pnitPrice: 0,
                            detailPrice: 0,
                        },
                    ],
                }
            },
            created: function () {
                axios.get('/api/Order/GetAll')
                    .then((res) => {
                        console.log(res);
                        this.items = res.data.body.orderList;
                        this.mounted();
                        this.isBusy = false;
                    })
            },
            computed: {
                sortOptions() {
                    // Create an options list from our fields
                    return this.fields
                        .filter(f => f.sortable)
                        .map(f => {
                            return { text: f.label, value: f.key }
                        })
                },
                infoModalOrderPrice() {
                    return this.UpdateOrderPrice();
                },
                infoModalDetailPrice(quantity, unitPrice, specialPrice) {
                    return this.UpdateDetailPrice(quantity, unitPrice, specialPrice);
                },
            },
            mounted() {
                // Set the initial number of items
                this.totalRows = this.items.length
            },
            methods: {
                info(item, index, button) {
                    this.infoModal.title = `編輯資料：${item.orderId}`;
                    this.infoModal.index = (this.currentPage - 1) * this.perPage + index;
                    this.infoModal.content = JSON.stringify(item, null, 2);
                    this.infoModal.orderId = item.orderId;
                    this.infoModal.orderDateDisplay = item.orderDateDisplay;
                    this.infoModal.memberUserName = item.memberUserName;
                    this.infoModal.shipName = item.shipName;
                    this.infoModal.shipCity = item.shipCity;
                    this.infoModal.shipRegion = item.shipRegion;
                    this.infoModal.shipAddress = item.shipAddress;
                    this.infoModal.shipPostalCode = item.shipPostalCode;
                    this.infoModal.invoiceTypeDisplay = item.invoiceTypeDisplay;
                    this.infoModal.updateTime = item.updateTime;
                    this.infoModal.paymentTypeDisplay = item.paymentTypeDisplay;
                    this.infoModal.paymentState = item.paymentState;
                    this.infoModal.orderDetailList = JSON.parse(JSON.stringify(item.orderDetailList));
                    this.$root.$emit('bv::show::modal', this.infoModal.id, button);
                },
                resetInfoModal() {
                    //this.infoModal.title = ''
                    //this.infoModal.content = ''
                },
                onFiltered(filteredItems) {
                    // Trigger pagination to update the number of buttons/pages due to filtering
                    this.totalRows = filteredItems.length
                    this.currentPage = 1
                },
                mounted() {
                    // Set the initial number of items
                    this.totalRows = this.items.length
                },
                submitEdit() {
                    perPage: 20,
                        item = this.items[this.infoModal.index];
                    item.orderId = this.infoModal.orderId;
                    item.orderDateDisplay = this.infoModal.orderDateDisplay;
                    item.memberUserName = this.infoModal.memberUserName;
                    item.shipName = this.infoModal.shipName;
                    item.shipCity = this.infoModal.shipCity;
                    item.shipRegion = this.infoModal.shipRegion;
                    item.shipAddress = this.infoModal.shipAddress;
                    item.shipPostalCode = this.infoModal.shipPostalCode;
                    item.invoiceTypeDisplay = this.infoModal.invoiceTypeDisplay;
                    item.updateTime = this.infoModal.updateTime;
                    item.paymentTypeDisplay = this.infoModal.paymentTypeDisplay;
                    item.paymentState = this.infoModal.paymentState;
                    item.orderDetailList = JSON.parse(JSON.stringify(this.infoModal.orderDetailList));
                    item.orderPrice = this.UpdateOrderPrice();

                    axios.post('/api/Order/Edit', item)
                        .then((res) => {
                            console.log(res);
                        })
                },
                UpdateOrderPrice() {
                    sum = 0;
                    this.infoModal.orderDetailList.forEach((orderDetail, index, orderDetailList) => {
                        sum += this.UpdateDetailPrice(orderDetail.quantity, orderDetail.unitPrice, orderDetail.specialPrice);
                    })
                    return sum;
                },
                UpdateDetailPrice(quantity, unitPrice, specialPrice) {
                    if (specialPrice > 0) return specialPrice * quantity;
                    else return unitPrice * quantity;
                    return 0;
                },
            },
        })
    </script>
}