#sendMailapp{
    margin-top:30px;
}
.input-group, .sendMail-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button-group{
    display:flex;
    justify-content:center;
}
.button-group button{
    margin: 0 10px;
}