@section topCSS{
    <!-- iCheck -->
    <link href="~/css/index/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/css/index/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="~/css/index/daterangepicker.css" rel="stylesheet" />
    <!-- summernote -->
    <link href="~/css/index/summernote-bs4.min.css" rel="stylesheet" />

}



<div class="col-sm-6">
    <h1 class="m-0">首頁</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Home</a>
        </li>
    </ol>
</div>

<div class="col-lg-3 col-6" id="todayOrder">
    <div class="small-box bg-info">
        <div class="inner">
            <h3>{{todayOrderSum}}筆</h3>

            <p>本日新訂單</p>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
        <a href="~/Order/OrderIndex" class="small-box-footer">前往更多 <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<div class="col-lg-3 col-6" id="todayRent">
    <div class="small-box bg-success">
        <div class="inner">
            <h3>{{todayRent}}筆</h3>

            <p>本日場地出租</p>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">前往更多 <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<div class="col-lg-3 col-6" id="todayOrderPrice">
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>{{todayOrderPrice}}元</h3>

            <p>本日營業額</p>
        </div>
        <div class="icon">
            <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">前往更多 <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<div class="col-lg-3 col-6" id="memberNum">
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>{{memberNum}}</h3>

            <p>會員數量</p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">前往更多<i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>


<section class="col-lg-7 connectedSortable">
    <!-- AREA CHART -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">本季銷售</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <canvas id="areaChart"
                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header border-0">
            <h3 class="card-title">暢銷商品排行</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body table-responsive p-0" id="totalsale">
            <table class="table table-striped table-valign-middle">
                <thead>
                    <tr>
                        <th>書名</th>
                        <th>價錢</th>
                        <th>銷量</th>
                        <th>總額</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>
                            {{item.productName}}
                        </td>
                        <td>
                            {{item.unitPrice}}元
                        </td>
                        <td>
                            {{item.totalSales}}本
                        </td>
                        <td>
                            {{item.totalSales* item.unitPrice}}元
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="col-lg-5 connectedSortable">

    <div class="card">
        <div class="card-header border-0">
            <h3 class="card-title" id="time" style="font-size:24px;">
            </h3>
        </div>

    </div>
    <!-- Calendar -->
    <div class="card bg-gradient-success">
        <div class="card-header border-0">

            <h3 class="card-title">
                <i class="far fa-calendar-alt"></i>
                Calendar
            </h3>
            <!-- tools card -->
            <div class="card-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        <a href="#" class="dropdown-item">Add new event</a>
                        <a href="#" class="dropdown-item">Clear events</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">View calendar</a>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>

            </div>
        </div>
        <div class="card-body pt-0">
            <div id="calendar" style="width: 100%"></div>
        </div>
    </div>





</section>

<!-- /.card -->

@section endJS{

    <!--Chart.js-->
    <script src="~/js/homeindex/Chart.min.js"></script>
    <!--axios-->
    <script src="~/js/Axios.js"></script>
    <!-- daterangepicker -->
    <script src="~/js/homeindex/moment.min.js"></script>
    <script src="~/js/homeindex/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/js/homeindex/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/js/homeindex/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/js/homeindex/jquery.overlayScrollbars.min.js"></script>
    <script>
        var app = new Vue({
            el: '#todayOrder',
            data: {
                todayOrderSum: 999,
            },
            created: function () {
                axios.get('/api/Order/Getbytoday')
                    .then((res) => {
                        this.todayOrderSum = res.data.body.orderList.length;
                    })
            },
        })
        var app2 = new Vue({
            el: '#todayOrderPrice',
            data: {
                todayOrderPrice: 999,
            },
            created: function () {
                axios.get('/api/Order/Getbytoday')
                    .then((res) => {
                        if (res.data.body.orderList.length == 0) {
                            this.todayOrderPrice = 0;
                        }
                        else {
                            var sum = 0;
                            for (var i = 0; i <= res.data.body.orderList.length - 1; i++) {
                                sum = sum + res.data.body.orderList[`${i}`].orderPrice;
                            }
                            this.todayOrderPrice = sum;
                        }
                    })
            },
        })
        var app3 = new Vue({
            el: '#todayRent',
            data: {
                todayRent: 999,
            },
            created: function () {
                axios.get('/api/Exhibiton/GetTodayExhibiton')
                    .then((res) => {
                        if (res.data.body.exhibitonList.length == 0) {
                            this.todayRent = 0;
                        }
                        else {
                            this.todayRent = res.data.body.exhibitonList.length;
                        }
                    })
            },
        })
        var app4 = new Vue({
            el: '#totalsale',
            data: {
                items: [],
            },
            created: function () {
                axios.get('/api/Product/GetTotalSale')
                    .then((res) => {
                        this.items = res.data.body.productList;
                    })
            },
        })
        var app5 = new Vue({
            el: '#memberNum',
            data: {
                memberNum: 999,
            },
            created: function () {
                axios.get('/api/Member/GetAll')
                    .then((res) => {
                        this.memberNum = res.data.body.memberList.length;
                    })
            },
        })
    </script>


    <script>


        $(function () {
            $('#calendar').datetimepicker({
                format: 'L',
                inline: true
            })
            function init() {
                var areaChartCanvas = $('#areaChart').get(0).getContext('2d')
                var month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'Septemper', 'October', 'November', 'December']
                var nowMonth = new Date().getMonth();
                var labelData = [];
                var DataList = [];
                var areaChartOptions;
                var areaChartData
                labelData.push(month[nowMonth - 2]);
                labelData.push(month[nowMonth - 1]);
                labelData.push(month[nowMonth]);
                function f1() {
                    axios.get(`/api/Order/GetMonthOrderPrice/${nowMonth - 1}`).then((res1) => {
                        var sum1 = 0;
                        for (var i = 0; i <= res1.data.body.orderList.length - 1; i++) {
                            sum = sum + res1.data.body.orderList[`${i}`].orderPrice;
                        }
                        DataList.push(sum1);
                        axios.get(`/api/Order/GetMonthOrderPrice/${nowMonth}`).then((res2) => {
                            var sum2 = 0;
                            for (var i = 0; i <= res2.data.body.orderList.length - 1; i++) {
                                sum2 = sum2 + res2.data.body.orderList[`${i}`].orderPrice;
                            }
                            DataList.push(sum2);
                            axios.get(`/api/Order/GetMonthOrderPrice/${nowMonth + 1}`).then((res3) => {
                                var sum3 = 0;
                                for (var i = 0; i <= res3.data.body.orderList.length - 1; i++) {
                                    sum3 = sum3 + res3.data.body.orderList[`${i}`].orderPrice;
                                }
                                DataList.push(sum3);
                                console.log(DataList);
                                areaChartOptions = {
                                    maintainAspectRatio: false,
                                    responsive: true,
                                    legend: {
                                        display: false
                                    },
                                    scales: {
                                        xAxes: [{
                                            gridLines: {
                                                display: false,
                                            }
                                        }],
                                        yAxes: [{
                                            gridLines: {
                                                display: false,
                                            }
                                        }]
                                    }
                                }
                                areaChartData = {
                                    labels: labelData,
                                    datasets: [
                                        {
                                            label: 'Digital Goods',
                                            backgroundColor: 'rgba(60,141,188,0.9)',
                                            borderColor: 'rgba(60,141,188,0.8)',
                                            pointRadius: true,
                                            pointColor: '#000000',
                                            pointStrokeColor: 'rgba(60,141,188,1)',
                                            pointHighlightFill: '#fff',
                                            pointHighlightStroke: 'rgba(60,141,188,1)',
                                            data: DataList
                                        },
                                    ]
                                }
                                new Chart(areaChartCanvas, {
                                    type: 'line',
                                    data: areaChartData,
                                    options: areaChartOptions
                                })
                            })
                        })
                    })
                }
                f1();
            }
            init();
            //var delay = function (r, s) {
            //    return new Promise(function (resolve, reject) {
            //        setTimeout(function () {
            //            resolve([r, s]);
            //        }, s);
            //    });
            //};
            //delay('a', 0).then(function (v) {

            //    return delay('b', 1000);
            //}).then(function (v) {

            //    return delay('c', 2000);
            //}).then(function (v) {

            //});

        })
    </script>
    <script>
        function setTime() {
            var myDate = new Date();
            var year = myDate.getFullYear();
            var month = myDate.getMonth();
            var date = myDate.getDate();
            var hours = myDate.getHours();
            var minutes = myDate.getMinutes();
            var seconds = myDate.getSeconds();
            if (month < 10) {
                month = '0' + month;
            }
            if (date < 10) {
                date = '0' + date;
            }
            var dateTime = year + '年' + month + '月' + +date + '日' + hours + '時' + minutes + '分' + seconds + '秒';
            document.getElementById("time").innerHTML = dateTime;
            setTimeout('setTime()', 1000);
        }
        window.onload = function () {
            setTime();
            setTimeout('setTime()', 1000);
        }
    </script>
}