@section topCSS{
    <!-- iCheck -->
    <link href="~/css/index/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/css/index/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="~/css/index/daterangepicker.css" rel="stylesheet" />
    <!-- summernote -->
    <link href="~/css/index/summernote-bs4.min.css" rel="stylesheet" />

}



<div class="col-sm-6">
    <h1 class="m-0">首頁</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
    </ol>
</div>

<div class="col-lg-3 col-6"id="todayOrder" >
    <div class="small-box bg-info">
        <div class="inner">
            <h3>{{todayOrderSum}}</h3>

            <p>本日新訂單</p>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
        <a href="~/Order/OrderIndex" class="small-box-footer">前往更多 <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<div class="col-lg-3 col-6" id="todayRent">
    <div class="small-box bg-success">
        <div class="inner">
            <h3>{{todayRent}}</h3>

            <p>本日場地出租</p>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">前往更多 <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<div class="col-lg-3 col-6">
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>65</h3>

            <p>本日營業額</p>
        </div>
        <div class="icon">
            <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">前往更多 <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>44</h3>

            <p>會員數量</p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">前往更多<i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>


<section class="col-lg-7 connectedSortable">
    <!-- AREA CHART -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Area Chart</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <canvas id="areaChart"
                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header border-0">
            <h3 class="card-title">暢銷商品排行</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body table-responsive p-0" id="totalsale">
            <table class="table table-striped table-valign-middle">
                <thead>
                    <tr>
                        <th>書名</th>
                        <th>價錢</th>
                        <th>銷售數量</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>
                            {{item.productName}}
                        </td>
                        <td>{{item.unitPrice}}</td>
                        <td>
                            {{item.totalSales}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="col-lg-5 connectedSortable">


    <!-- Calendar -->
    <div class="card bg-gradient-success">
        <div class="card-header border-0">

            <h3 class="card-title">
                <i class="far fa-calendar-alt"></i>
                Calendar
            </h3>
            <!-- tools card -->
            <div class="card-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        <a href="#" class="dropdown-item">Add new event</a>
                        <a href="#" class="dropdown-item">Clear events</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">View calendar</a>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body pt-0">
            <div id="calendar" style="width: 100%"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-header border-0">
            <h3 class="card-title">
                <i class="fas fa-user"></i>
                管理員登入紀錄
            </h3>
        </div>
        <div class="card-body pt-0">

        </div>
    </div>




</section>

<!-- /.card -->

@section endJS{
    
    <!--Chart.js-->
    <script src="~/js/homeindex/Chart.min.js"></script>
    <!--axios-->
    <script src="~/js/Axios.js"></script>
    <!-- daterangepicker -->
    <script src="~/js/homeindex/moment.min.js"></script>
    <script src="~/js/homeindex/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/js/homeindex/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/js/homeindex/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/js/homeindex/jquery.overlayScrollbars.min.js"></script>
    <script>
        var app = new Vue({
            el: '#todayOrder',
            data: {
                todayOrderSum:0,
            },
            created: function () {
                axios.get('/api/Order/Getbytoday')
                    .then((res) => {
                        console.log(res);
                        this.todayOrderSum = res.data.body.orderList.length;
                    })
            },
        })
        var app2 = new Vue({
            el: '#todayRent',
            data: {
                todayRent: 0,
            },
            created: function () {
                axios.get('/api/Order/Getbytoday')
                    .then((res) => {
                        console.log(res);
                        this.todayOrderSum = res.data.body.orderList.length;
                    })
            },
        })
        var app3 = new Vue({
            el: '#totalsale',
            data: {
                items:[],
            },
            created: function () {
                axios.get('/api/Product/GetTotalSale')
                    .then((res) => {
                        console.log(res);
                        this.items = res.data.body.productList;
                    })
            },
        })
    </script>


    <script>
        $('#calendar').datetimepicker({
            format: 'L',
            inline: true
        })


        $(function () {
            var areaChartCanvas = $('#areaChart').get(0).getContext('2d')

            var areaChartData = {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [
                    {
                        label: 'Digital Goods',
                        backgroundColor: 'rgba(60,141,188,0.9)',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [28, 48, 40, 19, 86, 27, 90]
                    },
                    {
                        label: 'Electronics',
                        backgroundColor: 'rgba(210, 214, 222, 1)',
                        borderColor: 'rgba(210, 214, 222, 1)',
                        pointRadius: false,
                        pointColor: 'rgba(210, 214, 222, 1)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                ]
            }

            var areaChartOptions = {
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                        }
                    }]
                }
            }

            // This will get the first returned node in the jQuery collection.
            new Chart(areaChartCanvas, {
                type: 'line',
                data: areaChartData,
                options: areaChartOptions
            })
        })
    </script>
}